a {
  color: #000;
}
a:hover{
	text-decoration: none;
	color: #ffd630;
}
.boxLi li{
	list-style-type: none;
	margin-bottom: 10px;
}
.boxLi li:before {
    content: "";
    display: inline-block;
    margin: 0 20px 10px -40px;
    width: 8px;
    height: 8px;
    background-color: #4a4a4a;
    border-radius: 2px;
}
/*font family*/
.fontFaW3{font-family: 'HiraginoSansGB-W3';}
.fontFaW6{font-family: 'HiraginoSansGB-W6';}
/*font size*/
.fontSize36{font-size: 36px;}
.fontSize34{font-size: 34px;}
.fontSize30{font-size: 30px;}
.fontSize26{font-size: 26px;}
.fontSize24{font-size: 24px;}
.fontSize22{font-size: 22px;}
.fontSize20{font-size: 20px;}
.fontSize15{font-size: 15px;}
.fontSize18{font-size: 18px;}
.fontSize17{font-size: 17px;}
.fontSize16{font-size: 16px;}
.fontSize12{font-size: 12px;}
.fonrSize13{font-size: 13px;}
.fontSize10{font-size: 10px;}
/*color*/
.colorFf0{color: #000000 100%;}
.colorfff{color: #fff;}
.color1c2{color: #1c202b;}
.color000e{color: #000e00;}
.color4a4{color: #4a4a4a;}
.color9b9{color: #9b9b9b;}
.colorffd630{color: #ffd630;}
.colorRed{color: red;}
.colorGreen{color: green;}
.colorBlue{color: blue;}
/*bgcolor*/
.bgcolorFfd{background-color: #ffd630;}
.bgcolorF6f{background-color: #f6f6f6;}
.bgcolor2c3{background-color: #2C303B;}
/*width*/
.wid100P{width: 100%;}
.wid30P{width: 30%;}
.wid60P{width: 60%;}
.wid65P{width: 65%;}
.wid70P{width: 70%;}
.wid75P{width: 75%;}
.wid177{width: 200px;}
.wid60{width: 60px;}
.wid30{width: 30px;}
/*height*/
.height5{height: 5px;}
.height40{height: 40px;}
.height60{height: 60px;}
.height120{height: 120px;}
.height135{height: 135px;}
.height180{height: 180px;}
.height200{height: 200px;}
.height300{height: 300px;}
.height400{height: 400px;}
.height100P{height: 100%;}
/*padding*/
.pad0{padding: 0px;}
.padLf10{padding-left: 10px;}
.padLf20{padding-left: 20px;}
.padLf30{padding-left: 30px !important;}
.padLf40{padding-left: 40px;}
.padLf90{padding-left: 90px;}
.padRg20{padding-right: 20px;}
.padRg30{padding-right: 30px !important;}
.padRg40{padding-right: 40px;}
.padTp20{padding-top: 20px;}
.padTpBt20{padding: 20px 0;}
/*margin*/
.margTpM14{margin-top: -14px;}
.margTpM18{margin-top: -18px;}
.margTpM23{margin-top: -23px;}
.margTpM33{margin-top: -33px;}
.margTpM30{margin-top: -30px;}
.margTpM60{margin-top: -60px;}
.margTpM135{margin-top: -135px;}
.margTpM170{margin-top: -170px;}
.margTp10{margin-top: 10px;}
.margTp15{margin-top: 15px;}
.margTp20{margin-top: 20px;}
.margTp40{margin-top: 40px;}
.margTp50{margin-top: 50px;}
.margTp90{margin-top: 90px;}
.margTp110{margin-top: 110px;}
.margTp170{margin-top: 170px;}
.margBt5{margin-bottom: 5px;}
.margLf110{margin-left: 110px;}
/*position*/
.poAb{position: absolute;}
/*text-align*/
.txtRg{text-align: right;}
.txtLf{text-align: left;}
.txtCt{text-align: center;}
/*left*/
.left43{left: 43px;}
/*bottom*/
.bottomM10{bottom: -10px;}
/*hr*/
.hr97{border: 1px solid #979797 !important;}
.hrMr{margin: 20px 0;}
.hrMr40{margin: 40px 0;}
.hrNoMoreMr{margin: 15px 0;}
.hrOpacity2{opacity: 0.2;}
/*line-height*/
.lineHeght12{line-height: 12px;}
.lineHeght16{line-height: 16px;}
.lineHeght20{line-height: 20px;}
.lineHeght26{line-height: 26px;}
/*border*/
.borderRa8{border-radius: 8px;}
/*top*/
.top40{top: 40px;}
.top76{top: 76px;}
.top170{top: 170px;}
/*right*/
.right19{right: 19px;}
.right17{right: 17px;}
.right14{right: 14px;}
/*others*/
.newsDetailTable tbody tr td{
	vertical-align: middle !important;
	border-top: 0 !important;
}
.thumbnail{
	width: 200px;
	height: 200px;
}
.floatLf{
	float: left;
}
.verticalMiddle{
	display: table-cell;
	vertical-align: middle;
}
.overFlowHid{
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
    text-overflow: ellipsis;
}
.dot{
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
}
.overFlowNoWrap{
	display: inline-block;
	overflow: hidden;
	white-space:nowrap;
    text-overflow: ellipsis;
}
.imgHover img{
	background-color: #17819c;
    transition: all 0.6s;  
}
.imgHover img:hover{
	transform: scale(1.1);
}
.displayBlock{display: block;}
.tableNoBorderTd tr td{
	border-top: none !important;
}